<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Simple Koa App</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link active" href="/features">Features</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">Features</h1>
  <p class="lead">
    Use this navigation to explore the features of this simple Koa Application.
  </p>
  <div class="row justify-content-center">
    <div class="col mb-3">
      <a href="/all" class="btn btn-lg btn-square d-flex justify-content-center">
        
        <span class="btn-text align-self-center d-flex flex-column">
          <i class="fas fa-users"></i>
          View all
        </span>
      </a>
    </div>
    <div class="col mb-3">
      <a href="/search" class="btn btn-lg btn-square d-flex justify-content-center">
        <span class="btn-text align-self-center d-flex flex-column">
          <i class="fas fa-search"></i>
          Search
        </span>
      </a>
    </div>
    <div class="col">
      <a href="/add" class="btn btn-lg btn-square d-flex justify-content-center">
        <span class="btn-text align-self-center d-flex flex-column">
          <i class="fas fa-plus"></i>
          Add
        </span>
      </a>
    </div>
  </div>
  </p>
</main>