<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Simple Koa App</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/features">Features</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">Koa</h1>
  <p class="lead">
    Koa. js is a minimal and flexible Node. js web application framework 
    that provides a robust set of features for web and mobile applications. 
    It is an open source framework developed and maintained by the creators 
    of Express. js, the most popular node web framework.
  </p>
  <p class="lead">
    <a href="https://koajs.com/" target="_blank" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</main>